body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container {
    width: 400px;
    height: 400px;
    background-color: rgba(128, 85, 69, 0.65);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Spacing between items inside the container */
}
