.container {
    width: 800px;
    max-width: 100%; /* Ensures responsiveness */
    background-color: rgba(24, 50, 93, 0.65);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /*box-sizing: border-box; !* Includes padding and border in the width *!*/
    padding: 1rem; /* Padding will not extend the width beyond 800px */
}

.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the top */
    padding: 1rem; /* Add padding for spacing within the background */
}


hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the thickness of the line */
    background-color: #000000; /* Set the color of the line */
    width: 100%; /* Ensure it spans the container */
    margin: 1rem 0; /* Add spacing above and below */
}

svg{
    width: 40px;
    height: 40px;
}

.item {
    background-color: rgba(41, 102, 196, 0.65);
    border-radius: 20px;
    padding: 1rem;
    /*list-style-type: none; !* Remove bullet points *!*/
    /*background-color: rgba(41, 102, 196, 0.65);*/
    /*border-radius: 20px;*/
    /*padding: 1.5rem; !* Add consistent padding *!*/
    /*text-align: center;*/
    /*display: flex; !* Use flexbox for alignment *!*/
    /*flex-direction: column; !* Stack content vertically *!*/
    /*justify-content: center; !* Center content vertically *!*/
    /*align-items: center; !* Center content horizontally *!*/
}



